body {
  background: #000;
  font-family: 'helvetica', 'arial', 'sans serif';
}

#page-bg {
  top: 0; left: 0;
  position: fixed;
  
  width: 100%;
  height: 900px;
  
  &.office {
    background: url(../images/office-bg.jpg) 50% 0% no-repeat;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background: url(../images/blur.png) left top repeat;
  }
}

h1, h2, p, label {
  color: #fff;
}

.spin {
  -webkit-transform-origin: 50% 58%;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "home.scss";
@import "signup.scss";
@import "signin.scss";
@import "timezones.scss";
@import "timezones-add.scss";
@import "timezones-edit.scss";
