#signin-page {

  h2 {
    margin-top: 20px;
  }
  
  #sip-form {
    margin-top: 100px;
    text-align: center;
    
    .form-group {
      margin-right: 8px;
    }
    
    button[type="submit"] {
      margin-left: 8px;
    }
  }
  
  #sip-error-message {
    margin-top: 18px;
  }
}

