#timezones-page {
  #tp-search {
    input[type="search"] {
      margin-right: 10px;
    }

    button[type="submit"] {
      margin-right: 10px;
    }
  }

  #tp-table {
    margin-top: 100px;

    th {
      color: #fff;
    }

    td {
      color: #ed303c;
      font-weight: bold;
    }
  }
}
